Please replace "unikey" in the name of the notebook to your unikey.

In [ ]:
# Import your libraries here 
# ...

# Set up a desired plotting size
plt.rcParams["figure.figsize"] = (16,9)

In [ ]:
# Here are the function to read the csv file. 
# To be noticed, please put your House_Rent_Dataset.csv under the same path as this notebook. 
# Or if you are using google colab, just upload the csv file to the cloud storage on your left.
df = pd.read_csv("House_Rent_Dataset.csv")

# Drop the NaN values. Our dataset is actually very clean, but you will need this in the future.
df = df.dropna()
df

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

# Problem 1

## Question 1

In [ ]:
# The column-wise minmimum of rent.
rent_min = 

# The column-wise maximum of rent.
rent_max = 

# The column-wise average of rent.
rent_avg = 

print("The minimum rent in the data set is {:.2f}.".format(rent_min))
print("The maximum rent in the data set is {:.2f}.".format(rent_max))
print("The averge rent in the data set is {:.2f}.".format(rent_avg))

## Question 2

In [ ]:
# ...

# Here is the important bool condition by the variable mask.
mask = 

# Then we can find out the correct subset accroding to the question.
df_q2 =

# Find out the number of rows 
num_rows = 
print("There are {} rows of eligible data records.".format(num_rows))

## Question 3

In [ ]:
# ...

# The following are the code for visulizing the plot
plt.grid(axis="y", alpha=0.75)
plt.xlabel("Size of the real estate")
plt.ylabel("Count")
plt.title("Histogram of sizes")
plt.show()

In [ ]:
# ...


# The following are the code for visulizing the plot
plt.xticks(rotation=90)
plt.xlabel("Post date")
plt.ylabel("Size")
plt.title("Scatter plot of sizes v.s. date")
plt.show()

# Problem 2

## Question 1

In [ ]:
# Firstly, we need to allocate the subset of features for machine learning in this question.
X_df_q4 =

# ...

In [ ]:
# At the same time, allocate the target as well.
y_q4 =

In [ ]:
# Train/test splits, remember the random state issue
X_train, X_test, y_train, y_test = 

# Build the Linear Rregression model
reg = 

# Predict the target
y_pred = 

# Obtain the coefficient of determination of the prediction
R2 = 
# Obtain the mean square error of the prediction
mse = 

print("The R2 of the testing set by LR is {:.2f}".format(R2))
print("The mean square error of the testing set by LR is {:.2f}".format(mse))

## Question 2

In [ ]:
# Firstly, we need to allocate the subset of features for machine learning in this question.
X_df_q5 =

In [ ]:
# At the same time, allocate the target as well.
y_q5 =

In [ ]:
# Implement the feature transformation function
def floor_extract(x):
  """
  Returns:
  floor (1-d list of integer): The extracted floor information.
  total_floor	(1-d list of integer): extracted total floor information.
  """
  # Convert the data type into list
  x = list(x.values)

  # ...
  # Collect the total number of floor information 
  total_floor = 

  # Collect the floor information via the following loop and if statement
  floor = 
  
  return floor, total_floor

# Run the function
floor, total_floor = floor_extract(X_df_q5["Floor"])

# Write the new columns
# ...

# Drop the unnecessary column
X_df_q5 = 

# Convert the categorical data into one-hot encoding.
X_df_q5 = 
X_df_q5

In [ ]:
# Train/test splits, remember the random state issue
X_train, X_test, y_train, y_test = 

# Build the Logistic Rregression model
LoR = 

# Build the MLP model
MLP = 

# BUild the GNB model
GNB = 

# Create the result dataframe here
result = pd.DataFrame(data = {"Model":["LoR", "MLP", "GNB"], "F1":[0, 0, 0], "Accuracy":[0, 0, 0]}, index=[0, 1, 2])

# ...

# Predict the target and evaluate the algorithms
for i in [LoR, MLP, GNB]:

  y_pred = 

  # Obtain the evaluations of the predictions
  acc = 
  f1 = 

  # Store the evaluations in the dataframe
   = f1
   = acc

  # ...

result

# Problem 3

In [ ]:
# Firstly, we need to allocate the subset of features for machine learning in this question.
X_df_q6 =

In [ ]:
# At the same time, allocate the target as well.
y_df_q6 =

In [ ]:
# The function calculating euclidean distance
def euclidean_distance(x1, x2):
    # Computes the Euclidean distance between two vectors x1 and x2
    return np.sqrt(np.sum((x1 - x2)**2))

In [ ]:
# The knn function
def knn(k, data, data_X, data_y):
  """
  Implements a k-nearest neighbors classifier and regressor.

  Parameters:
  k (int): The number of nearest neighbors to consider.
  data (numpy.ndarray): The test data.
  data_X (pandas.DataFrame) : The known feature dataset, which is X_df_q6 here.
  data_y (pandas.DataFrame) : The known label and prediction dataset, which is y_df_q6 here.

  Returns:
  rent_pred (float): The predicted Rent for the test data.
  FS_pred	(string): The predicted Furnishing Status for the test data.
  """

  # Transform the data type into numpy array
  array_ds_q6 = np.array(data_X)

  # Find out the (minimum) and (maximum - minimum) of each column
  array_ds_min = 
  array_ds_diff = 

  # Normalize the feature dataset
  nor_ds_q6 = 

  # Normalize the new data record
  nor_data = 

  # Calculate the distance based on our previous function
  distances = 

  # Find the indexes of the k nearest neighbour
  k_nearest_idxs = 

  # Then find out the furnishing status
  k_nearest_FSs = 
  FS_pred = 

  # Also the rent
  k_nearest_rent = 
  rent_pred = 

  # Return the desired output
  return  rent_pred, FS_pred

In [ ]:
# You may use the following two cells to test your function. 

x = np.array([2, 500, 1])
rent_pred, FS_pred = knn(3, x, X_df_q6, y_df_q6)

print("The predicted rent is {}.".format(rent_pred))
print("The predicted furnishing status is {}.".format(FS_pred))

In [ ]:
x = np.array([4, 750, 2])
rent_pred, FS_pred = knn(5, x, X_df_q6, y_df_q6)

print("The predicted rent is {}.".format(rent_pred))
print("The predicted furnishing status is {}.".format(FS_pred))